.home_body {
  background: fixed;
  background-image: url(../images/downtown-fresno-skyline..jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
/*=========HEADER============*/
#Top {

}

.navbar-default {
  background-color: transparent !important;
  border-color: transparent !important;
  color: rgb(130,38,31);
}

.top_nav {
  font-family: 'Raleway', sans-serif;
  color: rgb(130, 38, 31);
  font-size: 18px;
}

h1 {
  font-family: "gioviale",sans-serif;
  color: rgb(130, 38, 31);
  text-align: center;
  font-size: 95px !important;
  margin-top: 90px;
  font-weight: 700;
}

/*=========ABOUT=========*/
#about {

}

.adv_about {
  margin-top: 250px;
  background-color: rgba(89, 130, 143, 0.8);
}

.container_about {
  padding-right: 45px !important;
}

h2 {
  font-family: "gioviale",sans-serif;
  color: rgb(130,38,31);
  text-align: center;
  font-size: 42px;
}

p {
  font-family: 'Raleway', sans-serif;
  color: #f3d8b8;
}

/*=======PARTNERSHIPS=========*/
.cont_partner {
  margin-top: 200px;
  margin-bottom: 200px;
}

 .partner_images {
   width: 275px;
   height: 175px;
 }

/*==========CONTACT===========*/
.contact_footer {
  margin-top: 50px;
  background-color: rgba(89, 130, 143, 0.8);

}

.address {
  font-size: 16px;
  text-align: center;
  color: #f3d8b8;
  text-decoration: none;
  padding-top: 25px;
}

/*========BACK PAGES===========*/

.back_logo {
  padding: 40px;
  float: right;
}

.header_contact {
  text-align: center;
  font-family: "Raleway" sans-serif;
  color: #261A0E;
}


/*========FORM PAGE=========*/
.form_cont {
  height: 400px;
  padding: 100px;
}
